
.idea
/lib_managed
/project/project
target
.DS_Store
*.class
Scratch.scala
Scratch.sc
cmake-build-*
*.log
*.zlang
**/.aadlbin-gen/
**/.aadlsettings
**/mac
bin/tools
*-build/
**/c/nix/
**/instances/
**/project/build.properties
**/slang_libraries/
